diff --git a/deployment-helm-controller.yaml b/deployment-helm-controller.yaml
index 6865081..4792ef0 100644
--- a/deployment-helm-controller.yaml
+++ b/deployment-helm-controller.yaml
@@ -30,7 +30,7 @@ spec:
               valueFrom:
                 fieldRef:
                   fieldPath: metadata.namespace
-          image: ${IMAGE_HELM_CTRL}
+          image: '{{ .Values.images.registry }}/{{ .Values.images.helmController.image }}:v0.36.2'
           imagePullPolicy: IfNotPresent
           livenessProbe:
             httpGet:
diff --git a/deployment-image-automation-controller.yaml b/deployment-image-automation-controller.yaml
index 70074f9..65613e2 100644
--- a/deployment-image-automation-controller.yaml
+++ b/deployment-image-automation-controller.yaml
@@ -30,7 +30,7 @@ spec:
               valueFrom:
                 fieldRef:
                   fieldPath: metadata.namespace
-          image: ${IMAGE_AUTOMATION_CTRL}
+          image: '{{ .Values.images.registry }}/{{ .Values.images.imageAutomationController.image }}:v0.36.1'
           imagePullPolicy: IfNotPresent
           livenessProbe:
             httpGet:
diff --git a/deployment-image-reflector-controller.yaml b/deployment-image-reflector-controller.yaml
index 54bdaba..1cd6d7d 100644
--- a/deployment-image-reflector-controller.yaml
+++ b/deployment-image-reflector-controller.yaml
@@ -30,7 +30,7 @@ spec:
               valueFrom:
                 fieldRef:
                   fieldPath: metadata.namespace
-          image: ${IMAGE_REFLECTOR_CTRL}
+          image: '{{ .Values.images.registry }}/{{ .Values.images.imageReflectorController.image }}:v0.30.0'
           imagePullPolicy: IfNotPresent
           livenessProbe:
             httpGet:
diff --git a/deployment-kustomize-controller.yaml b/deployment-kustomize-controller.yaml
index f693064..23b7bed 100644
--- a/deployment-kustomize-controller.yaml
+++ b/deployment-kustomize-controller.yaml
@@ -31,7 +31,7 @@ spec:
               valueFrom:
                 fieldRef:
                   fieldPath: metadata.namespace
-          image: ${IMAGE_KUSTOMIZE_CTRL}
+          image: '{{ .Values.images.registry }}/{{ .Values.images.kustomizeController.image }}:v1.1.1'
           imagePullPolicy: IfNotPresent
           livenessProbe:
             httpGet:
diff --git a/deployment-notification-controller.yaml b/deployment-notification-controller.yaml
index 823e056..da7c96f 100644
--- a/deployment-notification-controller.yaml
+++ b/deployment-notification-controller.yaml
@@ -29,7 +29,7 @@ spec:
               valueFrom:
                 fieldRef:
                   fieldPath: metadata.namespace
-          image: ${IMAGE_NOTIFICATION_CTRL}
+          image: '{{ .Values.images.registry }}/{{ .Values.images.notificationController.image }}:v1.1.0'
           imagePullPolicy: IfNotPresent
           livenessProbe:
             httpGet:
diff --git a/deployment-source-controller.yaml b/deployment-source-controller.yaml
index 9b1ea48..ddf2bd4 100644
--- a/deployment-source-controller.yaml
+++ b/deployment-source-controller.yaml
@@ -36,7 +36,7 @@ spec:
                   fieldPath: metadata.namespace
             - name: TUF_ROOT
               value: /tmp/.sigstore
-          image: ${IMAGE_SOURCE_CTRL}
+          image: '{{ .Values.images.registry }}/{{ .Values.images.sourceController.image }}:v1.1.2'
           imagePullPolicy: IfNotPresent
           livenessProbe:
             httpGet:
